.container {
    height: 80vh;
    width: 80vw;
}

body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
}

canvas {
    position: absolute;
}

video {
    /* All below is optional */
    position: flex; 
}

.scoreboard {
    font-size: 40px;
    left: 0px;
    background-color: white;
}

.baguette {
    /* background-color: black; */
    padding-top: 200px;
    height: 60px;
    position: absolute;
    width: 60px;
    font-size: 60px;
}

.WineGlass {
    /* background-color: black; */
    padding-top: 200px;
    height: 60px;
    position: absolute;
    width: 60px;
    font-size: 60px;
}

.bomb {
    /* background-color: black; */
    padding-top: 200px;
    height: 60px;
    position: absolute;
    width: 60px;
    font-size: 60px;
}
